//
// theme default
//

@each $theme, $map in $theme-colors {
  .body-#{$theme} {
    background-color: map-get($map, body-bg);
    color: map-get($map, body-color);
  }

  // Sidebar
  .sidebar-#{$theme} {
    background-color: map-get($map, sidebar-bg);
  }

  .sidebar-#{$theme} .ps__rail-y.ps--clicking .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:focus .ps__thumb-y,
  .sidebar-#{$theme} .ps__rail-y:hover .ps__thumb-y,
  .sidebar-#{$theme} .ps__thumb-y {
    background-color: map-get($map, scrollbar-bg);
  }

  .sidebar-#{$theme} .list {
    color: map-get($map, list-color);
  }

  .sidebar-#{$theme} .list-link {
    color: map-get($map, list-link);
  }

  .sidebar-#{$theme} .list-hidden {
    border-left: rem(1) solid map-get($map, list-border);
  }

  .sidebar-#{$theme} .link-current,
  .sidebar-#{$theme} .list-link:hover {
    background-color: map-get($map, list-link-bg);
  }
  .sidebar-#{$theme} .list-link:hover{
    color: map-get($map , hover-link);
  }
  .sidebar-#{$theme} .list-link .fa{
    color: map-get($map, icon-bg);
  }

  // Navbar
  .navbar-#{$theme} .left-original{
    background-color: map-get($map, left-bg);
  }
  .navbar-#{$theme} .right-original{
    background-color: map-get($map, right-bg);
  }
  .navbar-#{$theme} .navbar-link {
    color: map-get($map, navbar-link);
  }

  .navbar-#{$theme} .navbar-bars {
    color: map-get($map, navbar-link);
  }
  .navbar-#{$theme} .nav-square-icon{
    background: map-get($map, nav-icon);
  }
  .navbar-#{$theme} .nav-square-icon:hover{
    background: map-get($map, nav-icon-hover);
  }
  .dropdown-logged-#{$theme} .dropdown-link {
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} {
    background-color: map-get($map, dropdown-bg);
  }

  .dropdown-menu-#{$theme} .dropdown-logged-item {
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} .dropdown-logged-item:hover {
    background-color: map-get($map, dropdown-item-bg);
    color: map-get($map, dropdown-link);
  }

  .dropdown-menu-#{$theme} .dropdown-menu-arrow:after {
    border-bottom-color: map-get($map, dropdown-bg);
  }

  // Content
  .content-#{$theme}.widget-single, 
  .content-#{$theme}.widget-double, 
  .content-#{$theme}.content-#{$theme} .card-front, 
  .content-#{$theme}.content-#{$theme} .card-back, 
  .content-#{$theme}.widget-register,
  .content-#{$theme}.widget-display {
    background-color: map-get($map, content-bg);
  }
  .content-#{$theme} .row{
    color: map-get($map, knowhow-text-icon);
  }
  .content-#{$theme} .progress{
    background: map-get($map, progress-bar);
  }
  .ninebox-#{$theme} .square{
    background: map-get($map, ninebox-square);
  }
  .ninebox-#{$theme} .square:hover{
    background: map-get($map, ninebox-square-hover);
  }
  .profile-#{$theme} {
    color: map-get($map, text-name);
  }
  .profile-#{$theme} .blockquote-footer{
    color: map-get($map, text-name-footer) !important;
  }
  .aval-360-#{$theme}{
    color: map-get($map, aval-360);
  }
  .aval-360-#{$theme} .aval-360-value{
    color: map-get($map, aval-360-value);
  }
  .content-#{$theme}{
    .fa-search-plus{
      color:map-get($map, search-icon);
      &:hover{
        color:map-get($map, search-icon-hover);
      }
    }
    .fa-edit{
      color:map-get($map, edit-icon);
      &:hover{
        color:map-get($map, edit-icon-hover);
      }
    }
    .fa-trash-alt{
      color:map-get($map, trash-icon);
      &:hover{
        color:map-get($map, trash-icon-hover);
      } 
    }
    .cg-icons span{
      color: map-get($map, cg-icons);
      &:hover{
        background: map-get($map, cg-icons-bg);
        color:map-get($map, cg-icons-hover);
      } 
    }
  }
  .content-#{$theme} .categ-card .categ-desc{
    color: map-get($map, categ-desc);
  }
  .content-#{$theme} ._body{
    &:hover{
      background: map-get($map, _body-hover);
    }
  }
  .content-#{$theme} .flag i{
    transition: $transition-default;
    &:hover{
      color: map-get($map, flag-career);
    }
  }
  .content-#{$theme} ._body span{
    color: map-get($map, setor-text);
  }
  // Error Pages
  #error{
    h1{
      color: map-get($map, title-error);
    }
  }
  // Loader
  #loader-wrapper {
    background: map-get($map, loader-background);
    .loader span{
      background-color:map-get($map, loader-color);
    }
  }
  
  
  // opacity icons
  .sidebar-#{$theme} .link-arrow:before,
  .sidebar-#{$theme} .list-link .fa,
  .navbar-#{$theme} .navbar-bars,
  .dropdown-logged-#{$theme} .dropdown-logged-toggle:before,
  .dropdown-menu-#{$theme} .dropdown-logged-item .fa {
    opacity: 0.8;
  }

  .navbar-#{$theme} .navbar-bars:hover {
    opacity: 0.7;
  }

  .sidebar-#{$theme} .link-arrow.active:before,
  .sidebar-#{$theme} .list-link:hover .fa {
    opacity: 1.0;
  }

  .ps .ps__rail-y.ps--clicking,
  .ps .ps__rail-y:focus,
  .ps .ps__rail-y:hover {
    background: none;
  }
}
